* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-news {
  width: 700px;
}
.hero-news-img {
  width: 700px;
  height: 370px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
.hero-news-img img {
  width: 100%;
  height: 100%;
}
.hero-news-imf {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid rgba(128, 128, 128, 0.538);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  justify-content: center;
  padding: 10px;
}
.tittle {
  color: blue;
}
.date {
  color: gray;
  font-size: 13px;
}
