.heroNews {
  margin-top: 30px;
}
.hero-img {
  width: 778px;
}
.hero-img img {
  width: 100%;
}
.hero-imf {
  width: 778px;
  height: 120px;
  display: flex;
  flex-direction: column;
}
.hero-imf {
  width: 778px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(128, 128, 128, 0.336);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 10px;
}
h2 {
  font-size: 1.2rem;
}
